   .selected-seat {
  border:3px solid #b404ae;
}
   .selected-disable {
  border:3px solid #FF5733;
}

.container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.top-buffer { margin-top:20px; }